<h2>Stick-Ctrl Verification</h2>

<p >
  Thanks for registering to use <em>Stick-Ctrl</em>. Please follow the link below to complete your registration.
</p>

<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p>